@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

:root {
    --yellow: #feda3e;
    --gray: #088178;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--yellow);
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--gray);
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url("./img/hero.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: var(--gray);
}

#hero button:hover {
    transform: scale(1.02);
    color: var(--gray);
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box h4 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #1a1a1a;
    background-color: transparent;
    display: inline-block;
    transition: 0.2s ease;
}

#feature .fe-box:hover ion-icon {
    color: var(--yellow);
}

#feature .fe-box:hover h4 {
    color: var(--gray);
}

#feature .fe-box ion-icon {
    font-size: 35px;
    margin-top: 10px;
    transition: 0.2s ease;
}

#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .product img{
    width: 100%;
    border-radius: 20px;
}

#product1 .product .desc{
    text-align: start;
    padding: 10px 0;
}

#product1 .product .desc span{
    color: #606063;
    font-size: 12px;
    text-transform: uppercase;
}

#product1 .product .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    width: 80%;
}

#product1 .product .desc h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    font-size: 18px;
}

#product1 .product a .cart {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid var(--yellow);
    border-radius: 50%;
    padding: 4px;
    font-weight: 400;
    color: var(--yellow);
    position: absolute;
    bottom: 30px;
    right: 10px;
    transition: .2s ease;
}

#product1 .product a .cart:hover{
    color: var(--gray);
    border: 2px solid var(--gray);
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./img/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: var(--yellow);
}

#banner button:hover {
    background-color: var(--yellow);
    color: #fff;
}

#banner2 {
    display: flex;
    justify-content: space-between;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-image: url("./img/b3.png");
    width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.banner-info2 {
    background-image: url("./img/b4a.png");
}

#banner2 h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#banner2 h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#banner2 span {
    color: var(--yellow);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#banner2 button:hover {
    background-color: var(--yellow);
    color: #1a1a1a;
    color: white;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("./img/newsletter.png");
    background-repeat: no-repeat;
    background-position: 18% 30%;
    background-color: #1a1a1a;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray);
}

#newsletter p span{
    color: var(--yellow);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--yellow);
    color: #1a1a1a;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin-bottom: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow ion-icon {
    color: var(--gray);
    padding-right: 4px;
    cursor: pointer;
    font-size: 18px;
}

footer .install .row img {
    border: 1px solid var(--yellow);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow ion-icon:hover,
footer a:hover {
    color: var(--yellow);
}

#page-header {
    background-image: url("./img/b1.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header1 {
    background-image: url("./img/b5.png");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, 
#page-header p {
    color: white;
}

#page-header1 h2, 
#page-header1 p {
    color: white;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li ion-icon {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .message {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-details form span {
    font-size: 12px;
    text-transform: uppercase;
}

#contact-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details form button {
    background-color: var(--yellow);
    color: #1a1a1a;
}

#contact-details form button:hover {
    color: #fff;
}

#contact-details form input,
#contact-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid var(--yellow);
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

#prodetails .small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    padding: 40px 0 20px 0;
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: var(--yellow);
    color: #1a1a1a;
}

#prodetails .single-pro-details button:hover {
    background-color: var(--yellow);
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: var(--yellow);
    color: #1a1a1a;
    padding: 12px 20px;
}

#coupon button:hover,
#subtotal button:hover {
    color: white;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px; 
}

#page-header2 {
    background-image: url("./img/b2.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header2 h2,
#page-header2 p {
    color: white;
}



/* MEDIA QUERY */

@media (max-width:799px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--yellow);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active {
        right: 0;
        z-index: 999;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile ion-icon {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    .section-p1 {
        padding: 40px;
    }

    #newsletter .form{
        width: 70%;
    }

    #banner2 {
        flex-direction: column;
        align-items: center;
    }

    .banner-info {
        width: 80%;
    }

    #contact-details {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #contact-details .details {
        margin-bottom: 50px;
        width: 100%;
    }

    #contact-details .message {
        width: 100%;
        align-items: center;
    }

    #contact-details .details .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact-details .details,
    #contact-details .message form{
        align-items: center;
        text-align: center;
    }

    #contact-details .message form {
        width: 85%;
    }
    
}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    .section-p1 {
        padding: 20px;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    #cart-add {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}